@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca:wght@700&display=swap');

/* font-family:"Big Shoulders Display", sans-serif ;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal; */
    
    /* font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    border: none; */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cars-Wrapper{
    margin: 3rem 1rem;
}
.car{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;  
    font-size: 15px;
}
.car p{
    max-width: 65%;
    line-height: 1.4rem;
    letter-spacing: 1.5px;
    word-spacing: 0.3rem;
    color: hsla(0, 0%, 100%, 0.75);

    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.car h2{
    color: hsl(0, 0%, 95%);

    font-family:"Big Shoulders Display", sans-serif ;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.car button{
    width: 8rem;
    padding: 5px;
    border-radius: 0.8rem;
    border: none;

    font-family:"Big Shoulders Display", sans-serif ;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
#sedan{
   background-color: hsl(31, 77%, 52%);
   border-top-left-radius: .7rem;
   border-top-right-radius: .7rem;
}
#sedan button{
    color: hsl(31, 77%, 52%);
}
#suv{
    background-color: hsl(184, 100%, 22%);
}
#suv button{
    color: hsl(184, 100%, 22%);
}
#luxury{
    background-color: hsl(179, 100%, 13%);
    border-bottom-left-radius: .7rem;
    border-bottom-right-radius: .7rem;
}
#luxury button{
    color:hsl(179, 100%, 13%) ;
}
.attribution {
    font-size: 15px;
    text-align: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%);
    text-decoration: none;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
@media (min-width:375px){
    .cars-Wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1440px;
        height: 95vh;
        margin: auto auto;
    }
    #sedan{
        border-top-left-radius: .7rem;
        border-top-right-radius: 0;
        border-bottom-left-radius: .7rem;
     }
     #luxury{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: .7rem;
        border-top-right-radius: .7rem;
    }
    main{
        position: relative;
        height: 100vh;
    }
    footer{
        position: absolute;
        width: 100%;
        bottom: 0;
        padding-top: 1rem;
    }
}